@font-face {
    font-family: typewriter;
    src: url(./assets/typewriter.woff2);
}

:root {
    --main-width: min(calc(120ch + 2em), 100%);
}

html {
    font-family: typewriter, 'Courier New', Courier, monospace;
    background-color: black;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0;
    color: white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

main {
    max-width: var(--main-width);
    margin: 0 auto;
    padding: 2em 1em;
}

h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 1em 0;
}

.directory-tree {
    list-style: none;
    padding-left: 2ch;
    margin: 0;
    line-height: 1.8;
}

.directory-tree .root {
    padding-left: 0;
}

.dir {
    color: #F7524A;
}